body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: white;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: bold;
}

h3{
  margin: 3% 0;
}

p{
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

input{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-style: italic;
}

.container{

  width: 70%;
  margin: 10% auto 0;
}

.hr{
  width: 25%;
  border-bottom: red 7px solid;
  margin: 3% 0;
}

.form-control{
  height: 60px;
}

.submit{
  background-color: red;
  color: white;
  border: 0;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;

}

.error{
  color: #D02035;
  float: right;
  font-family: 'Merriweather', serif;
  font-size: 12px;
}
